[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
	branch = master
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
	branch = master
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
	branch = master
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
	branch = master
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git@github.com:altercation/vim-colors-solarized.git
	branch = master
[submodule "bundle/flake8"]
	path = bundle/flake8
	url = git@github.com:nvie/vim-flake8.git
	branch = master
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "bundle/terraform"]
	path = bundle/terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "bundle/golang"]
	path = bundle/golang
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/solidity"]
	path = bundle/solidity
	url = https://github.com/tomlion/vim-solidity
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "bundle/vim-typescript"]
	path = bundle/vim-typescript
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "bundle/vim-tsx"]
	path = bundle/vim-tsx
	url = git@github.com:ianks/vim-tsx.git
[submodule "bundle/vim-graphql"]
	path = bundle/vim-graphql
	url = git@github.com:jparise/vim-graphql.git
